services:
  jekyll-site:
    image: jekyll-site
    build: .
    volumes:
      - .:/usr/src/app
    ports:
      - "4000:4000"
      - "35729:35729"
    user: "1000:1000"
    environment:
      - JEKYLL_ENV=docker
      - LISTEN_POLLING=1
    command: jekyll serve -H 0.0.0.0 --livereload --force_polling -w --config _config.yml,_config_docker.yml
